<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Emiplus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="WSCorreios.AtendeCliente" name="AtendeClientePort" />
    </client>
  </system.serviceModel>
  <userSettings>
    <Emiplus.Properties.Settings>
      <setting name="user_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="user_name" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="user_lastname" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="user_document" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="user_thumb" serializeAs="String">
        <value />
      </setting>
      <setting name="user_email" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="user_cell" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="user_level" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="user_status" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="user_plan_id" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="user_plan_trial" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="user_plan_status" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="empresa_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="empresa_logo" serializeAs="String">
        <value />
      </setting>
      <setting name="empresa_razao_social" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_nome_fantasia" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_cnpj" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_inscricao_estadual" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_inscricao_municipal" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_telefone" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_rua" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_cep" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_nr" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_bairro" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_estado" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="login_remember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="login_email" serializeAs="String">
        <value />
      </setting>
      <setting name="user_plan_recorrencia" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="user_plan_fatura" serializeAs="String">
        <value>Vazio</value>
      </setting>
      <setting name="empresa_nfe_ultnfe" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="empresa_nfe_serienfe" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="empresa_nfe_servidornfe" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="user_password" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="empresa_cidade" serializeAs="String">
        <value />
      </setting>
      <setting name="empresa_ibge" serializeAs="String">
        <value />
      </setting>
      <setting name="empresa_crt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="empresa_unique_id" serializeAs="String">
        <value />
      </setting>
      <setting name="user_sub_user" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="user_comissao" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="user_dbhost" serializeAs="String">
        <value />
      </setting>
      <setting name="empresa_email" serializeAs="String">
        <value />
      </setting>
    </Emiplus.Properties.Settings>
  </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>