<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <link href="@string.Format(" https://www.emiplus.com.br/razor/css/{0}?v=20", @Model.Etiqueta)" rel="stylesheet" />
</head>
<body class="letter">
    <section class="sheet padding-10mm">
        <article>
            <table>
                <tr>
                    @for (int i = 0; i < Model.Colunas; i++)
                    {
                        <td></td>
                    }

                    @foreach (var data in Model.Item)
                    {
                        <td>@data.Nome</td>
                    }
                </tr>
            </table>
        </article>
    </section>
</body>
</html>